/* Small Screens */
@media screen and (max-width: 600px){
    #mainwrap{
        
        display:grid;
        grid-gap: 10px;
        height:99vh;
        margin: auto;
        grid-template-rows: 50px 1fr 50px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "hd"
        "ct"
        "ft";
        /*background-image: url("../pics/beach-background.jpg");*/
        background-color: #050505;
        background-position: center; /* Center the image */
        background-repeat: no-repeat;
        color: #0a6581;
        font-family: 'Oswald', sans-serif;

    }
}

/* Medium and Large Screens */
@media screen and (min-width: 601px){
    #mainwrap{
        
        display:grid;
        grid-gap: 10px;
        width:99vw;
        height:99vh;
        margin:auto;
        grid-template-rows: 100px 800px 1fr;
        grid-template-columns: repeat(7,1fr);
        grid-template-areas:
        "hd hd hd hd hd hd hd"
        "ct ct ct ct ct ct ct"
        "ft ft ft ft ft ft ft";
        background-image: url("../pics/beach-background.jpg");
        background-color: #050505;
        background-position: center; /* Center the image */
        background-repeat: no-repeat;
        color: #0a6581;
        font-family: 'Oswald', sans-serif;
    }
}