<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../style/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id='mainwrap' class='container'>

    <div id='navbar'>
      
      <h1 id='App Name'>Travel App</h1>
    </div>

    <div id='main-content'>
      <div id='intro'>
        <h3>Headed Somewhere?</h3>
        <p>Enter your destination and departure date and we will let you know what to expect for weather!</p>

        <form>
          <label for="dest">Destination:</label><br>
          <input type
          ="text" id="dest" name="dest"><br>

          <label for="arival">Arrival Date:</label><br>
          <input type="date" id="arival" name="arival" value="2021-02-22" min="2021-02-22" max="2025-12-31"><br>

          <button id="generate" type = "submit"> Lets Go!</button>
        </form>

      </div>
    </div>

    <div id='footer'>
      <a href="https://m.facebook.com/#!/gage.cates" class="fa fa-facebook"></a>
      <a href="https://twitter.com/gage_cates" class="fa fa-twitter"></a>
    </div>

  </div>
</body>
</html>